* {
    box-sizing: border-box;
  }

  .row {
    content: "";
    display: table;
    clear: both;
    width: 100%;
  }

  .row-2 {
    content: "";
    display: table;
    clear: both;
    width: 100%;
    height: 100%;
    
  }

  .col{
    width: 100%;
    padding: 10px;
    height: 100%;
    color: #3366CC;
    border: 2px solid black;
    background-color: white;
  }

  .col-1{
    float: left;
    width: 33.33%;
    border: 2px solid black;
    color: #3366CC;
    background-color: white;
  }


.container{
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 90%;
    width: 40%;
    padding: 16px;
    text-align: center;
    background-color: #32407b;
    margin-right: 40%;
    margin-left: 30%;
    margin-top: 10%;

}

@media screen and (max-width: 860px) {
    .col {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      color: #3366CC;
      margin-right: 3%;
      margin-left:3%;
      border: black;
    }
  }

  @media screen and (max-width: 860px) {
    .col-1 {
      width: 100%;
      height: 100%;
      display: block;
      margin-bottom: 20px;
      color: #3366CC;
      margin-right: 3%;
      margin-left:3%;
      background-color: white;
    }
  }

  @media screen and (max-width: 860px) {
    .container{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      height: 90%;
      width: 90%;
      padding: 16px;
      text-align: center;
      background-color:#32407b;
      margin-top: 10%;
      margin-left: 5%;
  }
  }



  h1{
    color: white;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
  }

  h2{
    color: #151965;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
  }

  h3{
    color: #151965;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 100% ;
    }

  table{
    width: 100%;
    height: 100%;
  }

  th{
    color : #151965;
    background-color: #515585;
  }

  td{
    background-color: #46b5d1;
    width: 10%;
    height: 10%;
  }

  header{
    background-color: 	#151965;
    width: 100%;
    height: 100px;
  }


body{
  margin-left: 0% ;
  margin-right: 0% ;
  margin-bottom: 0%;
  margin-top: 0%;
  background-color: rgb(200, 209, 209);
}

.button {
  background-color:#32407b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.footer {
  margin-bottom: 0%;
  background-color: #151965;
  color: white;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 0%;
}

