.background{

    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(5,90,175,1) 0%, rgba(0,212,255,1) 84%);
    align-items: center;
    width: 100%;
    height: 100%;
}


.containerCard{
    
    width: 60%;
    background-color: #01b2e9;
    box-shadow: 0 0 50px #000;
    padding: 16px;
    
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 860px) {
    .containerCard{
        
        padding: 16px;
        width: 100%;
        background-color: #01b2e9;
        box-shadow: 0 0 50px #000;
        
      }
  }

  .backgroundmodal{
      
      width: 100%;
      height: 100%;
      opacity: 0.6;
      filter: alpha(opacity=60); 
  }

  .marginTop{
    margin-top: 12%;
  }

  .colorText{
    color: white;
  }