* {
    box-sizing: border-box;
  }
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    width: 250px;
    height: auto;
  }
body{
    margin-left: 0% ;
    margin-right: 0% ;
    margin-bottom: 0%;
    margin-top: 0%;
}
header{
    background-color: 	#181844;
    width: 100%;
    height: 100px;

}
h1 {
    margin-top: 0%;
    color: white;
    text-align: center;
    font-family: "Times New Roman";
}
h2 {
    margin-bottom: 0%;
    margin-top: 0%;
    color: white;
    text-align: center;
    font-family: "Times New Roman";
}

p{
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;  
    font-family: "Times New Roman";
    font-size: 150%;
}

section{
    background-color:#20B2AA;
    width: 100%;
    height: auto;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
    color: #3366CC;


  }

  .column1 {
    float: left;
    width: 74%;

    padding-left: 3%;
  }

  .column2 {
    float: left;
    width: 25%;
    height: 90%;
    padding-right: 3%;
    margin-left: 8px;
  }

  .col-1{
    float: left;
    width: 40%;
    height: 90%;
    padding-right: 3%;
    margin-left: 8px;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
    margin-top: 0%;
    margin-left: 5%;
  }
  
  @media screen and (max-width: 860px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      color: #3366CC;
      margin-right: 3%;
      margin-left:3%;
    }
  }

  @media screen and (max-width: 860px) {
    .col-1{
      float: left;
      width: 100%;
      height: 90%;
      padding-right: 3%;
      margin-left: 8px;
    }
  }
  @media screen and (max-width: 860px) {
    .column1 {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      color: #3366CC;
      margin-right: 3%;
      margin-left:3%;
    }
  }
  @media screen and (max-width: 860px) {
    .column2 {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      color: #3366CC;
      margin-right: 3%;
      margin-left:3%;
    }
  }


  .container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color:#20B2AA;
    border-radius: 1%
  }

  .container-fluid{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color:rgb(15, 221, 211);
    margin-right: 3%;
    margin-left: 3%;
    border-radius: 1%
  }

  .card {
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    border-radius: 5%
  }

  .col {
    margin-top: 5%;
    width: 50%;
    height: 80%;
    float: left;
    box-sizing: border-box;
    background: #20B2AA;
}

ul{
  color: white;
  font-size: 120%;
}

.footer {
  margin-bottom: 0%;
  background-color: #181844;
  color: white;
  text-align: center;
}